@import "tailwindcss";

@theme{
  --color-fundo-primario: #FFFFFF;
  --color-fundo-secundario: #F9FAFB;
  --color-borda: #E5E7EB;

  --color-texto-secundario: #6B7280;
  --color-titulos-principais: #111827;

  --color-cor-primaria: #7C3AED;
  --color-hover: #6D28D9;
  --color-destaque-suave: #DDD6FE;

  --color-sucesso: #16A34A;
  --color-erro: #DC2626;
  --color-desconto: #F59E0B;


  
}
@layer components{
  .h1 {
    @apply text-[32px] font-bold;
    color: var(--color-titulos-principais);
  }
  .h2 {
    @apply text-[24px] font-semibold;
    color: var(--color-titulos-principais);
  }
  .h3 {
    @apply text-[20px] font-semibold;
    color: var(--color-titulos-principais);
  }
  .texto-secundario{
    @apply text-[14px] font-normal;
    color: var(--color-texto-secundario);
  }
  .destaque-preco{
    @apply text-[20px] font-semibold;
    color: var(--color-cor-primaria);
  }

}

html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
  font-family: var(--font-inter), sans-serif;
  background-color: var(--color-fundo-primario);
}