@import "tailwindcss";

@theme{
  --fundo-primario: #FFFFFF;
  --fundo-secundario: #F9FAFB;
  --borda: #E5E7EB;

  --texto-secundario: #6B7280;
  --titulos-principais: #111827;

  --cor-primaria: #7C3AED;
  --hover: #6D28D9;
  --destaque-suave: #DDD6FE;

  --sucesso: #16A34A;
  --erro: #DC2626;
  --desconto: #F59E0B;


  
}
@layer components{
  .h1 {
    @apply text-[32px] font-bold;
    color: var(--titulos-principais);
  }
  .h2 {
    @apply text-[24px] font-semibold;
    color: var(--titulos-principais);
  }
  .h3 {
    @apply text-[20px] font-semibold;
    color: var(--titulos-principais);
  }
  .text-secundario{
    @apply text-[14px] font-normal;
    color: var(--texto-secundario);
  }
  .destaque-preco{
    @apply text-[20px] font-semibold;
    color: var(--cor-primaria);
  }

}

html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
  font-family: var(--font-inter), sans-serif;
}